.ngst-container {
  width: 100%;
  margin: auto;
}

.ngst-header {
  display: table-row;
}

.ngst-title {
  display: table-cell;
  font-family: Arial, sans-serif;
  font-size: 24px;
  width: 100%;
}

.ngst-button-container {
  display: table-cell;
}

.ngst-add-button {
}

.ngst-small-button {
  min-width: 1%;
}

.ngst-editable {
  cursor: text;
}

.ngst-not-editable {
  cursor: default;
}

.ngst-empty {
  font-style: italic;
  color: lightgray;
}

.ngst-clickable:hover {
  cursor: pointer;
}

.ngst-full-width {
  width: 100%;
}

.ngst-disabled {
  color: #bbb;
}

.mat-cell {
  align-items: stretch;

  .ng-star-inserted {
    flex: 1;
    display: flex;
    align-items: center;
  }

}

.filterRow:first-child {
  padding: 0;
}

.filter-cell {
  width: 100%;
  padding-right: 10px;
}

