<div class="ngst-container">
  <div class="ngst-header">
    <!--Title-->
    <div class="ngst-title">{{title}}</div>

    <!--Add button-->
    <div class="ngst-button-container">
      <button color="primary" mat-mini-fab class="ngst-add-button" *ngIf="canCreate" (click)="addRow()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <!--Table-->
  <mat-table #table [dataSource]="paginatedDataSource" matSort (matSortChange)="doSort()">
    <!--Actions-->
    <ng-container matColumnDef="ngst-actions" *ngIf="showActions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button
                ngstStopPropogation
                *ngFor="let action of combinedActions"
                (click)="runAction(action, row)"
                [ngClass]="'ngst-action-' + action.name">
          <mat-icon>{{action.icon}}</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!--Columns-->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.label">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!--Edit-->
        <ng-container *ngIf="row === editRow && column === editColumn && column.editable && canEdit">
          <!--Polymorphism is hot!-->
          <ngst-input-container [item]="row"
                                [column]="column"
                                [showPlaceholder]="false"
                                (changedEmitter)="changeRow(row, column, $event)">
          </ngst-input-container>
        </ng-container>

        <!--Display-->
        <ng-container *ngIf="row != editRow || column != editColumn || !column.editable || !canEdit">
          <!--Not editable-->
          <div *ngIf="!isEmpty(column.getRowValue(row)) && !column.editable || !canEdit"
               [class.ngst-clickable]="canClick"
               class="ngst-not-editable {{columnLabel(column)}}"
               [innerHTML]="column.formatValue(row)"></div>
          <div *ngIf="isEmpty(column.getRowValue(row)) && (!column.editable || !canEdit)"
               [class.ngst-clickable]="canClick"
               class="ngst-not-editable ngst-empty {{columnLabel(column)}}">empty
          </div>

          <!--Editable-->
          <div *ngIf="!isEmpty(column.getRowValue(row)) && column.editable && canEdit"
               (click)="clickCell(row, column)" ngstStopPropogation
               class="ngst-editable {{columnLabel(column)}}"
               [innerHTML]="column.formatValue(row)"></div>
          <div *ngIf="isEmpty(column.getRowValue(row)) && column.editable && canEdit"
               (click)="clickCell(row, column)" ngstStopPropogation
               class="ngst-editable ngst-empty {{columnLabel(column)}}">empty
          </div>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnIndexes"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnIndexes;"
             [class.ngst-clickable]="canClick"
             (click)="clickRow(row)"></mat-row>
  </mat-table>

  <!--Paginator-->
  <mat-paginator #paginator
                 [pageIndex]="pageIndex"
                 [pageSize]="pageSize"
                 [length]="rows"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 [showFirstLastButtons]="true"
                 (page)="paginate($event)">
  </mat-paginator>
</div>
