<div class="ngst-new-row-dialog">
  <ng-container *ngFor="let column of columns">
    <ngst-input-container *ngIf="column.editable"
                          [item]="newRow"
                          [column]="column"
                          [showPlaceholder]="true"
                          [fullWidth]="true"
                          (changedEmitter)="change(column, $event)">
    </ngst-input-container>
  </ng-container>

  <button mat-raised-button color="primary" (click)="dialogRef.close(newRow)"
          [disabled]="!isValid()">
    Create
  </button>

  <button mat-raised-button (click)="dialogRef.close()">
    Cancel
  </button>
</div>
